.hypothese-container {

    position: relative;
    padding-left: 200px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    padding-bottom: 70px;
    padding-right: 20px;
    padding-top: 30px;
    padding-top: 50PX;
    margin-top: 20PX;
  }
  
  .hypothese-header {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 30px;
  }
  
  .hypothese-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: inherit;
  }
  
  .add-button {
    margin-right: 10px;
    padding-left: 250px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .vertical-line {
    position: absolute;
    top: 0;
    left: 200px;
    width: 2px;
    height: 100%;
    border-left: 2px solid #000;
    background-color: #000;
    margin-left: 250px;
  }
  .input-container{
    padding-left: 60px;
    width: 50%;
    display: flex;
    margin-bottom: 20px;

  }
  .hypothese-body {
    text-align: center;
    padding-left:240px ;
  }
  
  .hypothese-body label {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .commentaire {
    display: flex;
    margin-bottom: 20px;
  }
  input[type="text"], textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 70%;
  }
  
  .hypothese-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .validate-button, .quit-button, .remove-button {
    padding-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .validate-button {
    background-color: #4CAF50;
    color: #fff;
  }
  .quit-button{
    background-color: gray;
    color: #fff;

  }
  .remove-button {
    background-color: #f44336;
    color: #fff;
  }
  