<!-- produit.component.html -->
<div class="product-container">
    <div class="produit-header">
        <h3 class="hypothese-title">Produits</h3>
        <button class="add-button" (click)="toggleDropdown()">Ajouter +</button>
      </div>
      <div class="vertical-line"></div>

  <div class="produit-body" *ngIf="showDropdown">
      <div class="product-row1">
        <label for="idliste"> Catégorie </label>
        <select id="idliste" class="category-dropdown" [(ngModel)]="valeurSelectionneeCategorie">
          <option *ngFor="let option of listeCategorie" [value]="option">{{option}}</option>
        </select>
    <input type="text" class="code-input" placeholder="Code">
    </div>
    <div class="product-row2">
      <label for="idliste2">Groupe</label>
      <select id="idliste2" class="group-dropdown" [(ngModel)]="valeurSelectionneeGroupe">
        <option *ngFor="let option of listeGroupe" [value]="option">{{option}}</option>
      </select>
      
      <input type="text" class="code-input" placeholder="Code">
    </div>
</div>

      <div class="hypothese-footer" *ngIf="showDropdown">
        <button class="remove-button"(click)="supprimerElement()" >Supprimer</button>
        <button class="quit-button">Quitter</button>
        <button class="validate-button"(click)="validerElement()" >Valider</button>
    </div>
     
    <p class="affichage" *ngIf="valider" >{{valeurSelectionneeGroupe}}</p>
  </div>
  
