.devise-container {
  position: relative;
  padding-left: 200px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  padding-bottom: 80px;
  padding-right: 20px;
  padding-top: 30px;

}

.devise-header {
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 30px;
}

.devise-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: inherit;
}

.add-button {
  margin-right: 10px;
  padding-left: 250px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.devise-select {
  margin-left: 150px;
  border-radius: 5px;
  border: 1px solid #454141;
  width: 20%;
  padding: 7px;
}

.devise-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.validate-button, .quit-button, .remove-button {
  padding-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.validate-button {
  background-color: #4CAF50;
  color: #fff;
}
.quit-button{
  background-color: gray;
  color: #fff;

}
.remove-button {
  background-color: #f44336;
  color: #fff;
}



